.container {
    margin-top: 5.5em;

    @media screen and (min-width: 768px) {
        margin-top: 4em;

        &:nth-child(2) {
            margin-top: 10em;
        }
    }

    .section-description {
        max-width: 960px;
        margin: auto;

        h3 {
            margin-left: 1.3em;
            text-transform: uppercase;
            font-size: .8em;
            color: transparentize($textColor, .5);
            letter-spacing: .5px;
        }
    }

    .row {
        display: flex;
        max-width: 960px;
        margin: auto;
        flex-direction: column;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
        }

        .dev-cards {
            display: flex;
            align-items: center;
            align-content: center;
            border: solid 2px transparentize($textColor, .95);
            border-radius: 4px;
            padding: 1em;
            flex-grow: 1;
            text-align: center;
            margin-left: 1em;
            margin-right: 1em;
            margin-top: 1em;

            @media screen and (min-width: 1024px) {
                margin-bottom: 1em;
                max-width: 252px;
            }

            &:hover {
                border-color: $primaryOneColor;
            }

            .illustration {
                display: flex;
                align-content: center;

                img {
                    height: 60px;
                    width: auto;
                }
            }

            .dev-name {
                display: flex;
                flex-direction: column;
                align-content: center;
                font-size: 1.1em;
                color: $primaryOneColor;
                text-align: left;
                margin-left: 1em;

                span {
                    font-size: .8em;
                    line-height: 1.2;
                    text-transform: none;
                    color: transparentize($textColor, .4);
                }
            }
        }
    }
}
