$sea: rgba(121, 187, 239, 1);
$purpur: rgba(60, 89, 165, 1);
$milka: rgba(157, 144, 197, 1);
$limo: rgba(255, 87, 34, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$primaryOneColor: $limo;
$primaryTwoColor: $purpur;

$alternateTextColor: $white;
